@use "./fonts" as *;
@use "./variables" as *;

@mixin mobile {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}




@mixin mobile-content-pos(){
    position: absolute;
    top: 9rem;
    right: 4.5rem;
    left: 4.5rem;
}

// --- Mobile Mixins ---
@mixin mobile-page-header{
    font-family: 'Titillium-Web';
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: $black;
}

@mixin mobile-sub-header{
    font-family: 'Titillium-Web';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: $black;
}

@mixin mobile-labels{
    font-family: 'Titillium-Web';
    font-size: 0.80rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: $black;
    
}

@mixin mobile-table-header{
    font-family: 'Titillium-Web';
    font-size: 0.70rem;
    font-weight: 700;
    line-height: 1rem;
    padding-bottom: 0.5rem;
    color: $slate;
}

@mixin mobile-body-large{
    font-family: 'Titillium-Web';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: $black;
}

@mixin mobile-body-medium{
    font-family: 'Titillium-Web';
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: $black;  
}

@mixin mobile-body-small{
    font-family: 'Titillium-Web';
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1rem;
    color: $black;
}







