.home{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title{
        width: 100%;
        margin: 0;
    }
}

.home-main{
    background-image: url("../../assets/images/dog-in-car.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 25rem;
    
}